/* ==UserStyle==
@name           Myth-Weavers Pathfinder Experimental Fixes
@namespace      github.com/AnthemV/Nordic-Myth-Weavers
@homepageURL    https://github.com/AnthemV/Nordic-Myth-Weavers
@supportURL     https://github.com/AnthemV/Nordic-Myth-Weavers/issues
@updateURL      https://github.com/AnthemV/Nordic-Myth-Weavers/raw/main/Myth-Weavers-Pathfinder-Experimental-Fixes.user.styl
@version        1.5.1
@description    Spacing fixes for Myth-Weavers's experimental Pathfinder character sheet.
@author         Ian Crawford
@license        MIT
==/UserStyle== */
@-moz-document domain("myth-weavers.com") {

    /* HEADER SPACING */
    h1 {
        margin-top: 7px;
    }

    select,
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    .uneditable-input {
        text-overflow: none !important;
        overflow: visible;
        white-space: nowrap;
    }












    /* ---------------------- PRIMARY PAGE ---------------------- */
    /* XP SPEED BOX LENGTH NOW MATCHES THAT OF OTHERS */
    div.span2:nth-child(10) > div:nth-child(1) {
        margin-left: -3px;
    }


    span12.th {
        padding-right: 23px !important;
    }


    /* MAKE THE SIZE DROPDOWN BOX FIT IN WITH THE REST OF THE ELEMENTS ACROSS THE TOP OF THE SHEET */
    select.span2 {
        width: 131px;
        height: 22px;
        margin-top: -4px;
        border-radius: 5px;
        cursor: pointer !important;
    }


    /* REMOVE FOCUS INDICATOR FROM SIZE DROPDOWN BOX */
    select:focus,
    input[type="file"]:focus,
    input[type="radio"]:focus,
    input[type="checkbox"]:focus {
        outline: thin dotted #3330;
        outline-offset: -2px;
    }


    /* CURSER SHOULD NO LONGER SHOW RANDOM TEXT SEGMENTS AS CLICKABLE */
    label,
    select {
        cursor: text !important;
    }




    /* CAMPAIGN AND EXP LINE LENGTH */
    .character [name="campaign"] {
        width: 211px;
    }

    .character [name="experience"],
    .character [name="alignment"] {
        width: 56px;
    }


    /* FIXES BUTTON IN CLASS AND LEVELS WORKSPACE */
    button.btn.btn-mini.btn-primary.addrow {
        padding-right: 7px;
        padding-left: 7px;
        padding-top: 2px;
        padding-bottom: 2px;
        margin-left: 11px;
    }

    table#abilities thead th,
    table.saves thead th,
    table#init tfoot th,
    table#ac thead th,
    table#ac_alt tfoot th,
    table.attack_bonus thead th {
        color: rgb(46, 52, 64, 0.8) !important;
        font-weight: 400 !important;
        font-size: 10px;
        margin-left: 25px !important;
    }


    /* NUDGE THE AC AND HEALTH TEXT TO THE LEFT */
    #hp label {
        padding-right: 4px;
    }

    #ac_total label {
        padding-right: 3.5px;
    }


    /* MIDDLE ALIGN THE AC CALCULATION */
    table#ac {
        margin-top: 19px !important;
        margin-bottom: 27px !important;
    }



    /* MOVE MOMEMENT AND OTHER LABELS TO THE LEFT TO PREVENT THEM FROM TOUCHING THEIR RESPECTIVE BOXES */
    #movement .control-label {
        margin-right: 10px !important;
        margin-left: -10px !important;
    }

    #ac_alt .control-label {
        margin-right: 4px !important;
        margin-left: -4px;
    }


    /* Element | https://www.myth-weavers.com/sheet.html#id=2664020 */
    #ac_alt > div:nth-child(1) > input:nth-child(2) {
        text-align: center;
    }

    /* Element | https://www.myth-weavers.com/sheet.html#id=2664020 */
    #ac_alt > div:nth-child(2) > input:nth-child(2) {
        text-align: center;
    }

    /* Element | https://www.myth-weavers.com/sheet.html#id=2664020 */
    #ac_alt > div:nth-child(3) > input:nth-child(2) {
        text-align: center;
    }

    /* Element | https://www.myth-weavers.com/sheet.html#id=2664020 */
    #ac_alt > div:nth-child(4) > input:nth-child(2) {
        text-align: center;
    }

    /* Element | https://www.myth-weavers.com/sheet.html#id=2664020 */
    #movement > div:nth-child(1) > input:nth-child(2) {
        text-align: center;
    }

    /* Element | https://www.myth-weavers.com/sheet.html#id=2664020 */
    #movement > div:nth-child(2) > input:nth-child(2) {
       text-align: center;
    }

    /* Element | https://www.myth-weavers.com/sheet.html#id=2664020 */
    #movement > div:nth-child(3) > input:nth-child(2) {
        text-align: center;
    }

    /* Element | https://www.myth-weavers.com/sheet.html#id=2664020 */
    #movement > div:nth-child(4) > input:nth-child(2) {
        text-align: center;
    }



    /* MINOR SPACING TWEAKS TO LINE UP ELEMENTS */
    #movement {
        margin-left: -6px;
    }

    #ac_alt {
        margin-left: -6px;
    }

    #ac_alt > div:nth-child(2) > label:nth-child(1) {
        margin-left: -3px;
        margin-right: 3px;
    }

    #ac_alt > div:nth-child(2) > input:nth-child(2) {
        margin-left: -1px;
    }




    /* MOVE MEVEMENT AND OTHER SECTIONS UP THE SAME BASELINE */
    #hp_alt {
        margin-bottom: 0px;
        margin-top: 15px;
    }

    #ac_alt {
        margin-top: -3px;
    }

    #movement {
        margin-top: -3px;
    }


    /* INCREASE MARGIN BELOW STATS AREA */
    div.page:nth-child(1) > div:nth-child(2) {
        margin-bottom: 4px;
    }



    /* MOVE THE DEFENSES SECTION TO THE RIGHT EDGE OF THE PAGE */
    div.page:nth-child(1) > div:nth-child(3) {
        width: 1200px;
    }


    div.span5:nth-child(2) {
        margin-left: 75px;
    }



    /* FIXES JANKY WEAPONS AREA */
    input[placeholder="weapon name"] {
        margin-bottom: 3px;
        width: 215px;
    }
    input[placeholder="range"] {
        width: 66.5px;
    }
    input[placeholder="total attack bonus"] {
        margin-bottom: 3px;
        width: 146px;
    }
    input[placeholder="size"] {
        width: 33.5px;
    }
    input[placeholder="type"] {
        width: 33.5px !important;
    }
    input[placeholder="crit"] {
        margin-bottom: 3px;
    }
    input[placeholder="type"] {
        width: 24px;
    }
    div#weapons.span12 div.weapon {
        width: 500px;
    }

    /* MOVE THE RIGHT SIDE WEAPON BOXES TO THE RIGHT A LITTLE IN ORDER TO MATCH THE PAGE MARGIN */
    [name="wpn4_name"],
    [name="wpn4_special"],
    [name="wpn5_name"],
    [name="wpn5_special"],
    [name="wpn6_name"],
    [name="wpn6_special"] {
        margin-left: 4px !important;
    }


    /* INCREASE THE MARGIN OF THE STAT BLOCKS */
    #abilities > tbody:nth-child(2) > tr:nth-child(1) > th:nth-child(1) {
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 0px;
        border-top-width: 0px;
        border-top-style: solid;
    }

    .attack_bonus > tbody:nth-child(2) > tr:nth-child(1) > th:nth-child(1) {
        padding-left: 4.25px;
        padding-right: 4.25px;
    }

    .saves > tbody:nth-child(2) > tr:nth-child(1) > th:nth-child(1) {
        padding-left: 4px;
        padding-right: 4px;
    }




    /* SLIGHTLY SHORTEN THE NAME FIELDS OF ARMOR/PROTECTIVE ITEMS IN ORDER TO ADHERE TO THE PAGE MARGINS */
    [name="protect_3_name"],
    [name="protect_4_name"] {
        width: 191.5px !important;
    }

    [name="protect_1_name"],
    [name="protect_2_name"] {
        width: 191.5px !important;
    }

    div#armor.span12 {
        width: 1000px !important;
    }

    div#armor.span12 div.span6:nth-of-type(2) {
        margin-left: 23.5px !important;
    }

    /* CHECKBOXES */
    input[name="caster"] {
        margin-top: 0px;
        margin-bottom: 3px;
        margin-right: 3px;
    }

    input.skill_prof {
        margin-bottom: 3px
    }

    .character .control-group[class="span2 control-group"] {
        width: 141px;
    }

    div#armor.span12 input.input-nano[name="protect_2_worn"],
    div#armor.span12 input.input-nano[name="protect_4_worn"] {
        margin-left: 6px;
        margin-bottom: 3px;
    }

    div#armor.span12 input.input-nano[name="protect_1_worn"],
    div#armor.span12 input.input-nano[name="protect_3_worn"] {
        margin-left: 6px;
        margin-bottom: 4px;
    }


    /* MAKE FEATS HEADER LINE OF MORE NICELY WITH THE CONTENT BELOW IT*/
    div#feats.character.span12 h1 {
        margin-bottom: -3px !important;
    }

    /* MAKE THE FEAT SLOTS MATCH THE MARGINS OF THE PAGE */
    div#feats.character.span12 {
        width: 1000px;
    }

    div#feats.character.span12 div.span3:nth-of-type(2),
    div#feats.character.span12 div.span3:nth-of-type(3),
    div#feats.character.span12 div.span3:nth-of-type(4) {
        margin-left: 22px;
    }


    /* HIDE THE FEAT SLOTS THAT ARE TOO CLOSE TO THE BOTTOM OF THE PAGE */
    [name="feat_18"],
    [name="feat_36"],
    [name="feat_54"],
    [name="feat_72"] {
        border-color: transparent !important;
    }

    /* LOTS OF CHANGES I MADE AFTER REALIZING UBLOCK ORIGIN WAS MESSING UP MY PAGE, AND THAT THE DEFAULT WAS ACTUALLY JANKY */
    /* Element | https://www.myth-weavers.com/sheet.html#id=2664020 */
    div.span2:nth-child(9) > div:nth-child(1) > div:nth-child(2) > input:nth-child(1) {
        width: 56px;
    }

    /* Element | https://www.myth-weavers.com/sheet.html#id=2664020 */
    div.span2:nth-child(9) > div:nth-child(1) {
        margin-left: -10px;
    }

    /* Element | https://www.myth-weavers.com/sheet.html#id=2664020 */
    div.span2:nth-child(10) > div:nth-child(1) > div:nth-child(2) > input:nth-child(1) {
        width: 56px;
    }

    /* Element | https://www.myth-weavers.com/sheet.html#id=2664020 */
    div.span2:nth-child(11) > div:nth-child(1) > div:nth-child(2) > input:nth-child(1) {
        width: 56px;
    }

    /* Element | https://www.myth-weavers.com/sheet.html#id=2664020 */
    div.span2:nth-child(11) > div:nth-child(1) {
        margin-left: -10px;
    }

    /* Element | https://www.myth-weavers.com/sheet.html#id=2664020 */
    div.span2:nth-child(7) > div:nth-child(1) {
        margin-left: -5px;
    }

    /* Element | https://www.myth-weavers.com/sheet.html#id=2664020 */
    div.span2:nth-child(6) > div:nth-child(1) > div:nth-child(2) > input:nth-child(1) {
        margin-left: -33px;
        width: 79.5px;
    }

    /* Element | https://www.myth-weavers.com/sheet.html#id=2664020 */
    #init > tbody:nth-child(2) > tr:nth-child(1) > th:nth-child(1) {
        padding-left: 3.25px;
        padding-right: 3.25px;
    }

    /* Element | https://www.myth-weavers.com/sheet.html#id=2664020 */
    #init {
        padding-left: 55px;
    }

    /* Element | https://www.myth-weavers.com/sheet.html#id=2664020 */
    div.span5:nth-child(6) > div:nth-child(1) > div:nth-child(1) {
        padding-left: 52px;
        padding-top: 35px;
    }

    /* Element | https://www.myth-weavers.com/sheet.html#id=2664020 */
    div.page:nth-child(1) > div:nth-child(1) {
        width: 1000px;
    }

    div.span5:nth-child(6) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > input:nth-child(1) {
        margin-left: 6px;
    }
    div.span2:nth-child(10) > div:nth-child(1) > div:nth-child(2) > input:nth-child(1) {
        margin-left: 3px;
    }

    /* Element | https://www.myth-weavers.com/sheet.html#id=2664020 */
    #init > thead:nth-child(1) > tr:nth-child(1) > th:nth-child(2) {
        padding-right: 14px;
    }

    /* Element | https://www.myth-weavers.com/sheet.html#id=2664020 */
    #init > thead:nth-child(1) > tr:nth-child(1) > th:nth-child(3) {
        padding-right: 14px;
    }

    /* Element | https://www.myth-weavers.com/sheet.html#id=2664020 */
    #init > thead:nth-child(1) > tr:nth-child(1) > th:nth-child(4) {
        padding-right: 1px;
    }
























    /* ---------------------- SKILLS AND EQUIPMENT PAGE ---------------------- */
    /* --- SKILLS BUTTON PLACEMENTS START --- */
    a#fillSkills.btn.btn-primary {
        margin-left: 233px;
    }

    a#fillSkills.btn.btn-primary {
        margin-bottom: 9px
    }
    a#clearSkills.btn.btn-danger {
        margin-bottom: 9px
    }
    /* --- SKILLS BUTTON PLACEMENTS END --- */
    /* EQUIPMENT LINE SPACING TO MATCH PAGE MARGINS */
    div#possessions.character input.span4 {
        width: 297px;
    }


    /* ALIGNING EQUIPMENT TABLE TO CORRECT CENTER */
    div#possessions.character {
        margin-left: 3px;
        width: 438px;
    }
    /* ALIGNING SKILL TABLE TO CORRECT CENTER */
    [class="span2 skill_name"] {
        width: 132px !important;
    }



    /* FIXES SOME JANKY SPACING AT THE FOOTERS OF TABLES */
    tfoot tr th {
        border-top: 3px solid #61414300 !important;
        font-weight: 100 !important;
    }
    
    #possessions > table:nth-child(2) > tfoot:nth-child(3) > tr:nth-child(1) > th:nth-child(3) {
display: inline-table !important;
}
    
    
/* PADDING FOR TOTAL RANKS/WEIGHT */

#skills > table:nth-child(2) > tfoot:nth-child(3) > tr:nth-child(1) > th:nth-child(2) {
  padding-top: 3px !important;
}

/* Element | https://www.myth-weavers.com/sheet.html#id=2664020 */

#total_ranks {
  padding-top: 3px !important;
}

/* Element | https://www.myth-weavers.com/sheet.html#id=2664020 */

#possessions > table:nth-child(2) > tfoot:nth-child(3) > tr:nth-child(1) > th:nth-child(1) {
  padding-top: 3px !important;
}

/* Element | https://www.myth-weavers.com/sheet.html#id=2664020 */

#possessions > table:nth-child(2) > tfoot:nth-child(3) > tr:nth-child(1) > th:nth-child(2) {
  padding-top: 3px !important;
}

/* Element | https://www.myth-weavers.com/sheet.html#id=2664020 */

#possessions > table:nth-child(2) > tfoot:nth-child(3) > tr:nth-child(1) > th:nth-child(3) {
  padding-top: 3px !important;
}
    
    /* moves the other curency area up to fit within the page margins */
    div.page:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
margin-top: -2px !important;
}



    /* ALIGNS BOTTOM OF SKILLS TABLE WITH OTHER PAGE ELEMENTS */
    div#skills.span6.character h1 {
        margin-bottom: -5.5px;
        margin-top: 1.5px !important;
    }


    /* ---- WEIGHT SUBSECTION START ---- */
    /* ALTERS THE SPACING OF WEIGHT BOXES TO CLOSER MATCH THE SIZE OF THE TEXT */
#load > div:nth-child(n) > div:nth-child(n) > div:nth-child(n) > input:nth-child(n) {
        height: 11px !important;
        margin-left: 0.5px;
        text-align: right;
        border-radius: 5px;
    }

    #load .controls {
        margin-left: 3.5px !important;
        width: 66px;
    }

    div#load.form-vertical.span3 {
        margin-top: -3px;
    }

    [name="currency"] {
        height: 52.5px !important;
        width: 207px !important;
        margin-left: 0px !important;
    }

    #currency {
        margin-left: 22.5px;
    }

    div.page:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
        width: 490px;
        margin-top: 7px;
    }


    #load .control-label {
        color: rgb(46, 52, 64, 0.8) !important;
        font-weight: 400 !important;
        font-size: 10px;
        margin-bottom: -2px !important;
        margin-left: 5px;
    }

    /* ---- WEIGHT SUBSECTION END ---- */
    /* ---------------------- SPELL PAGE ---------------------- */
    /* CORRECTLY CENTER SPELL LISTS */
    div#spells_powers.row.character {
        width: 980px;
        margin-left: 2px;
    }

    div#spell_levels.row {
        margin-left: 0px;
    }

    /* CENTERED TABLE FOR SPELLCASTING */
    table.span12 {
        margin-left: auto !important;
        margin-right: auto !important;
    }


    /* HEADING SPACER FOR SPELLCASTING SECTION */
    h1.span12 {
        margin-top: 20px;
        margin-bottom: 7px;
    }

    /* SPACING FIX TO CENTER EACH INDIVIDUAL SPELL BOX */
    [name="spell_lvl_0_known"],
    [name="spell_lvl_1_known"],
    [name="spell_lvl_2_known"],
    [name="spell_lvl_3_known"],
    [name="spell_lvl_4_known"],
    [name="spell_lvl_5_known"],
    [name="spell_lvl_6_known"],
    [name="spell_lvl_7_known"],
    [name="spell_lvl_8_known"],
    [name="spell_lvl_9_known"],
    [name="spell_lvl_0_bonus_spells"],
    [name="spell_lvl_1_bonus_spells"],
    [name="spell_lvl_2_bonus_spells"],
    [name="spell_lvl_3_bonus_spells"],
    [name="spell_lvl_4_bonus_spells"],
    [name="spell_lvl_5_bonus_spells"],
    [name="spell_lvl_6_bonus_spells"],
    [name="spell_lvl_7_bonus_spells"],
    [name="spell_lvl_8_bonus_spells"],
    [name="spell_lvl_9_bonus_spells"],
    [name="spell_lvl_0_spells_per_day"],
    [name="spell_lvl_1_spells_per_day"],
    [name="spell_lvl_2_spells_per_day"],
    [name="spell_lvl_3_spells_per_day"],
    [name="spell_lvl_4_spells_per_day"],
    [name="spell_lvl_5_spells_per_day"],
    [name="spell_lvl_6_spells_per_day"],
    [name="spell_lvl_7_spells_per_day"],
    [name="spell_lvl_8_spells_per_day"],
    [name="spell_lvl_9_spells_per_day"],
    [name="spell_lvl_0_save_dc"],
    [name="spell_lvl_1_save_dc"],
    [name="spell_lvl_2_save_dc"],
    [name="spell_lvl_3_save_dc"],
    [name="spell_lvl_4_save_dc"],
    [name="spell_lvl_5_save_dc"],
    [name="spell_lvl_6_save_dc"],
    [name="spell_lvl_7_save_dc"],
    [name="spell_lvl_8_save_dc"],
    [name="spell_lvl_9_save_dc"] {
        margin-left: 12px !important;
    }





















    /* ---------------------- CHARACTER PAGE ---------------------- */
    /* ---- CHARACTER LANGUAGES SUBSECTION START ---- */
    /* SPACING FIXES */
    div#character_languages.span6 div.span2 {
        width: 140.5px !important;
    }

    div#character_languages.span6 {
        margin-left: 24px;
        width: 470px;
    }

    div#character_languages.span6 h1 {
        margin-top: -4px;
        margin-left: -1px;
        margin-bottom: 8px;
    }

    div#character_page.page div.row:first-child {
        width: 1000px;
    }


    /* ---- CHARACTER LANGUAGES SUBSECTION END ---- */
    /* FIXES THE SPACING OF AGE, HEIGHT, WIEGHT, ETC. */
    div#character_page.page div.row div.span4 div.character.row {
        width: 345px !important;
    }

    div#character_page.page div.row div.span4 div.character.row div.span2:nth-of-type(1),
    div#character_page.page div.row div.span4 div.character.row div.span2:nth-of-type(3) {
        margin-right: 6px !important;
    }


    div#character_page.page [class="control-group"] {
        margin-left: -12px;
    }

    div#character_page.page div.span4 div.character.row {
        width: 320px;
    }

    div#character_page.page div.controls {
        margin-left: 0px !important;
    }

    [name="hair_color"] {
        width: 198.5px;
    }

    [name="eyes_color"] {
        width: 198.5px;
    }

    [name="skin_color"] {
        width: 198.5px;
    }

    [name="weight"] {
        width: 66px;
    }

    [name="height"] {
        width: 66px;
    }

    [name="age"] {
        width: 66px;
    }

    [name="gender"] {
        width: 66px;
    }


    /* CHARACTER DESCRIPTION AND OTHER LARGE BOTTOM TEXT AREA SPACING FIXS */
    div#character_txt.row input.span6,
    div#character_txt.row textarea.span6 {
        width: 446px;
    }
    /* This one changes the blocks on the left side */
    [name="__txt_character_2_name"],
    [name="__txt_character_2"],
    [name="__txt_character_4_name"],
    [name="__txt_character_4"] {
        margin-left: 4px !important;
        width: 446px !important;
    }
    /* This one changes the blocks on the right side */
    /* ADJUST HEIGHTs AND WIDTHS OF BIG BOTTOM TEXT FIELDS */
    #character_statblock textarea,
    #character_other_notes textarea,
    #character_private_notes textarea {
        height: 141px;
        width: 930px;
    }
    
    
/* Random changes I made later to make it work */

div.span6:nth-child(6) > div:nth-child(2) {
  margin-left: 0px;
}

/* Element | https://www.myth-weavers.com/sheet.html#id=2664020 */

div.span6:nth-child(6) {
  margin-left: 20px;
}

/* Element | https://www.myth-weavers.com/sheet.html#id=2664020 */

div.span6:nth-child(6) > div:nth-child(2) > textarea:nth-child(1) {
  margin-left: 4px;
}

/* Element | https://www.myth-weavers.com/sheet.html#id=2664020 */

div.span6:nth-child(6) > input:nth-child(1) {
  margin-left: 4px;
}



    /* FONT SIZE FOR PLEACEHOLDER HEADERS IN CHARACTER DETAILS SECTION */
    #character_txt input[type="text"] {
        font-size: 16px;
    }
}
