/* ==UserStyle==
@name           Nordic Myth-Weavers Sheets
@namespace      github.com/AnthemV/Nordic-Myth-Weavers
@homepageURL    https://github.com/AnthemV/Nordic-Myth-Weavers
@supportURL     https://github.com/AnthemV/Nordic-Myth-Weavers/issues
@updateURL      https://github.com/AnthemV/Nordic-Myth-Weavers/raw/main/Nordic-Myth-Weavers-Sheets.user.styl
@version        1.7.2
@description    An alternate color palette for Myth-Weavers character sheets, based on the Nord color palette.
@author         Ian Crawford
@license        MIT
==/UserStyle== */
@-moz-document domain("www.myth-weavers.com") {


    /* --------------------- CUSTOMISATION --------------------- */
    :root {
        --accent-color: #5619583d;
        /* Accent color for page box shadow */
        --background-image: url(https://miaomiaolove.github.io/images/05.jpg);
        /* The picture in the background of the sheet */
    }

    body {
        background-image: var(--caster);
        /* Set to "--caster" or "--not-caster" (without the quotes). This adjusts the fade out of backgound image to fit the page length */
    }






    /* CASTER VS NON-CASTER BACKGROUND GRANDIANT */
    :root {
        --caster: linear-gradient(to bottom, rgba(255, 153, 153, 0) 2%, #2e3440 12%), var(--background-image);
        --not-caster: linear-gradient(to bottom, rgba(253, 153, 255, 0) 2%, #2e3440 16%), var(--background-image);
    }




    /* ---- BACKGROUND AND SITE FONT ---- */
    body {
        padding-top: 100px;
        background-color: #2e3440;
        font-family: rubik !important;
        color: #2e3440;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 100% auto;
    }

    input,
    button,
    select,
    textarea,
    h1 {
        font-family: "inter" !important;
        font-weight: 700 !important;
    }

    /* ---- BOLD FONT WEIGHT ---- */
    label,
    input,
    button,
    select,
    textarea {
        font-weight: 500 !important;
    }

    th {
        font-weight: 500 !important;
    }
    /* Correct for AC & Others not being bolded */
    input.span1.tallbox {
        font-size: 18px;
        font-weight: 400 !important;
    }


    /* FUN FADE-Y THING */
    div#feats.character.span12 {
        width: 1000px;
        -webkit-mask-image: linear-gradient(180deg, #000 90%, transparent);
    }


    table#abilities tbody th,
    table.saves tbody th,
    table#init tbody th,
    table#ac tbody th,
    table.attack_bonus tbody th {
        color: white;
        background-color: #3b4252;
        text-transform: uppercase;
        border-radius: 7px;
    }
    .navbar-fixed-top .navbar-inner,
    .navbar-static-top .navbar-inner {
        border-width: 0 0 0px;
    }


    /* SHADOW BELOW HEADER PAGE BAR */
    .navbar-fixed-top {
        box-shadow: 0px 0px 16px #1c222db0;
    }

    .navbar-inner {
        min-height: 0px;
        background-image: linear-gradient(to bottom, #3b4252, #3b4252);
        background-repeat: repeat-x;
        border: 0px solid #d4d4d4;
        border-top-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 0px;
        border-left-width: 0px;
    }

    .page {
        background-color: #f6f7f9;
        border-radius: 16px;
        box-shadow: 0px 0px 40px var(--accent-color);
        margin-top: 30px;
    }

    .navbar .nav > li > a {
        float: none;
        padding: 11px 15px 0px;
        color: #e5e9f0;
        text-shadow: 0 1px 0 #2e3440;
    }

    #character_name {
        font-weight: 400;
        font-family: rubik;
        color: #e5e9f0;
        text-shadow: 0 1px 0 #2e3440;
    }

    #character_name span {
        font-size: 1.125em;
    }

    /* TOP LEFT MYTHWEAVERS TEXT */
    .navbar .brand {
        color: #d8dee9;
        text-shadow: 0 1px 0 #2e3440;
        font-family: rubik;
        font-size: 1.57em;
        font-weight: 400;
        padding-left: 24px;
    }

    .navbar .btn,
    .navbar .btn-group {
        margin-top: 7px;
    }


    .navbar .btn,
    .navbar .btn-group {

        margin-top: 7px;
    }
    .navbar .btn,
    .navbar .btn-group {

        margin-top: 5px;
    }

    button.btn,
    input[type="submit"].btn {

        *padding-top: 3px;
        *padding-bottom: 3px;
    }
    .btn-primary {
        color: #eceff4;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
        background-color: #434c5e;
        background-image: linear-gradient(to bottom, #434c5e, #434c5e);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0088CC', endColorstr='#FF0044CC', GradientType=0);
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    }
    .btn {
        border-color: #434c5e;
        border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    }
    .btn {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        padding: 4px 12px;
        font-size: 13px;
        line-height: 18px;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        border-color: #e6e6e6 #e6e6e6 #bfbfbf;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        *background-color: #e6e6e6;
        filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
        border: 0px solid #bbb;
        border-bottom-color: rgb(187, 187, 187);
        border-bottom-color: #a2a2a2;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 0.25em;
        *margin-left: .3em;
        -webkit-box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0), 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0), 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0), 0 1px 2px rgba(0, 0, 0, 0.05);
    }


    /* sheets.css | https://www.myth-weavers.com/assets/css/sheets.css?_=1499962733 */
    .btn-danger {
        /* color: #fff; */
        /* background-color: #da4e49; */
        /* background-image: linear-gradient(to bottom, #ee5f5b, #bd362f); */
        /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEE5F5B', endColorstr='#FFBD362F', GradientType=0); */
        color: #eceff4;
        background-color: #e93e6f;
        background-image: linear-gradient(to bottom, #e93e6f, #e93e6f);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FFEE5F5B', endColorstr='#FFBD362F', GradientType=0);
    }

    .btn-danger:hover,
    .btn-danger:active,
    .btn-danger.active,
    .btn-danger.disabled,
    .btn-danger[disabled] {
        /* background-color: #bd362f; */
        background-color: #eb3f6f;
    }



    label,
    input,
    button,
    select,
    textarea {

        font-size: 13px;
        font-weight: normal;
        line-height: 18px;
    }
    label,
    select,
    button,
    input[type="button"],
    input[type="reset"],
    input[type="submit"],
    input[type="radio"],
    input[type="checkbox"] {

        cursor: pointer;
    }
    button,
    html input[type="button"],
    input[type="reset"],
    input[type="submit"] {

        -webkit-appearance: button;
        cursor: pointer;
    }
    button,
    input {

        *overflow: visible;
        line-height: normal;
    }
    button,
    input,
    select,
    textarea {

        margin: 0;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 100%;
        vertical-align: middle;
    }
    li {

        line-height: 18px;
    }
    .nav {

        list-style: none;
    }
    body {

        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 13px;
        line-height: 18px;
        color: #333;
    }
    html {

        font-size: 100%;
        -webkit-text-size-adjust: 100%;
    }

    .btn-primary:hover,
    .btn-primary:active,
    .btn-primary.active,
    .btn-primary.disabled,
    .btn-primary[disabled] {
        color: #fff;
        background-color: #4c566a;
    }

    .btn:hover {
        text-decoration: none;
        background-position: 0 -30px;
        -webkit-transition: background-position 0.1s linear;
        -moz-transition: background-position 0.1s linear;
        -o-transition: background-position 0.1s linear;
        transition: background-position 0.06s linear;
    }

    button.btn,
    input[type="submit"].btn {
        padding-top: 4px;
        *padding-bottom: 3px;
    }

    .navbar .nav > li > a:focus,
    .navbar .nav > li > a:hover {
        background-color: transparent;
        color: #fffefe;
        text-decoration: none;
    }

    .navbar-fixed-top .navbar-inner {
        padding: 0px 10px;
    }

    /* ADDS GAP TO THE SIDE OF THE SAVE BUTTON */
    button.sheetsave.btn.btn-primary {
        margin-left: 12px;
        margin-top: 7px;
    }



    select,
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    .uneditable-input {
        font-size: 12px;
        border-radius: 7px;
    }

    .page input.unsaved,
    .page textarea.unsaved,
    .page td.unsaved,
    .page th.unsaved {
        background-color: #8fbcbb1f !important;
    }

    textarea:focus,
    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="datetime"]:focus,
    input[type="datetime-local"]:focus,
    input[type="date"]:focus,
    input[type="month"]:focus,
    input[type="time"]:focus,
    input[type="week"]:focus,
    input[type="number"]:focus,
    input[type="email"]:focus,
    input[type="url"]:focus,
    input[type="search"]:focus,
    input[type="tel"]:focus,
    input[type="color"]:focus,
    .uneditable-input:focus {
        border-color: rgb(136, 192, 208);
        outline: 0;
        outline: thin dotted \9;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(46, 52, 64, 1);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(46, 52, 64, 1);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(46, 52, 64, 0.13);
    }

    #hp input:focus,
    #ac_total input:focus {
        border-color: rgb(136, 192, 208);
    }

    table#abilities tbody td:nth-child(2) input:focus,
    table#abilities tbody td:nth-child(3) input:focus,
    table.saves tbody td:nth-child(2) input:focus,
    table.saves tbody td:nth-child(3) input:focus,
    table#init tbody td:nth-child(2) input:focus,
    table#ac tbody td:nth-child(2) input:focus,
    table.attack_bonus tbody td:nth-child(2) input:focus,
    table.attack_bonus tbody td:nth-child(3) input:focus {
        border-color: rgb(136, 192, 208);
    }

    .character input[type="text"]:focus,
    .character input[type="number"]:focus {
        border-color: rgb(136, 192, 208);
        box-shadow: none;
    }

    .popover {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1010;
        display: none;
        width: 236px;
        padding: 1px;
        text-align: left;
        background-color: #f6f7f9;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, 0.2);
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 16px;
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        white-space: normal;
    }

    h3.popover-title {
        padding-top: 10px;
        padding-left: 14px;
        width: 210px;
        height: 17px;
        margin-left: -1px;
        margin-top: -1px;
    }

    .popover-title {
        background-color: #ebedf0;
        border-bottom: 1px solid #cacaca;
        -webkit-border-radius: 16px 16px 0 0;
        -moz-border-radius: 16px 16px 0 0;
        border-radius: 16px 16px 0 0;
    }

    #character_page {
        margin-bottom: 110px;
    }

    /* ROUNDS THE EDGES OF CHARACTER PORTRAIT */
    #character_portrait {
        height: 164px;
        width: 126px;
        border: 1px solid #999;
        border-radius: 16px;
    }

    /* Seacret Section! - Uncomment to use, and have fun! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧ */
    /* GLOWY HEADERS */
    /* h1 {
       background-image: linear-gradient( -225deg,
        #231557 0%,
        #44107a 14%,
        #ff1361 28%,
        #fff800 42%,
        #ff1361 86%,
        #44107a 100%);
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        color: #fff;
        background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 2s linear infinite;
        display: inline-block;
    }


    @keyframes textclip {
        to {
            background-position: 200% center;
        }
    } 
    
    */
}
